{{- /*gotype: github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/poc/generator.Interface*/ -}}

{{- range .Operations }}
    {{- if .OptsField }}
        {{ template "optionsTemplate" . }}
    {{- end }}
    {{- range .StructsToGenerate }}
        {{ template "structTemplate" . }}
    {{- end }}
{{- end }}
