name: Jira issues

on:
  issues:
    types: [opened]

jobs:
  jira-action:
    environment: jira
    runs-on: ubuntu-latest
    name: Create an issue
    steps:
      - name: Curl to webhook
        run: |
          curl --location --request POST '${{ secrets.JIRA_WEBHOOK_URL }}' \
          --header 'X-Automation-Webhook-Token: ${{ secrets.JIRA_WEBHOOK_TOKEN }}' \
          --header 'Content-Type: application/json' \
          --data-raw '{
            "issues": [
              "${{ secrets.JIRA_ISSUES_EPIC }}"
            ],
            "data": {
              "summary": "terraform-provider-snowflake issue ${{ github.event.issue.number }}",
              "description": "",
              "parent": "${{ secrets.JIRA_ISSUES_EPIC }}"
            }
          }'
